* {
  margin: 0px;
  padding: 0px;
}

/* tailwind css  */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* customize css  */
/*  customize css here  */
.hover-menu-content {
  visibility: hidden;
  height: 0px;
  overflow: hidden;
  transition: height 1s, visibility 1s;
}
.hover-menu-parent:hover .hover-menu-content {
  visibility: visible;
  height: 170px;
}

/* Target the entire scrollbar (fallback for older browsers) */
::-webkit-scrollbar {
  width: 10px; /* Set the width */
}

/* Target the scrollbar track (fallback) */
::-webkit-scrollbar-track {
  background: #f2f2f2; /* Set track background color */
}

/* Target the scrollbar thumb (fallback) */
::-webkit-scrollbar-thumb {
  background: #73c66e; /* Set thumb background color */
  border-radius: 20px; /* Add rounded corners */
}
